h1{
    color:#772b1d;
}
h3{
    color:#772b1d;
    text-align: center;
}
p{
    text-align: center;
}
*{
    border:solid
}
.header{
    justify-content: space-evenly;
    text-align: center;
}
.footer{
    display: ruby-text-container;
    justify-content: space-around;
    text-align: center;
}
body{
    background-color:#e9d3b4;
}